openapi: 3.0.0
info:
  title: API ClientHub
  version: 1.0.0
paths:
  /login:
    post:
      summary: Login do usuário
      description: Autentica o usuário e retorna um token JWT.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - senha
              properties:
                email:
                  type: string
                  example: daniel@gmail.com
                senha:
                  type: string
                  example: 123456
      responses:
        "200":
          description: Login realizado com sucesso
          content:
            application/json:
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        "401":
          description: Credenciais inválidas
  /cadastro:
    post:
      summary: Cadastro de Usuário
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nome
                - email
                - senha
                - tipo_usuario
              properties:
                nome:
                  type: string
                  example: Douglas Silva
                email:
                  type: string
                  example: douglas@gmail.com
                senha:
                  type: string
                  example: "12345678"
                tipo_usuario:
                  type: string
                  example: usuario
              responses:
                "201":
                  description: Usuário cadastrado com sucesso!
components: {}
tags:
  - name: Auth
    description: Autenticação e autorização de usuários e criação de usuário
